<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<main class="container">
  <!--about.ejs,Marcus Charles,301015342, October 5,2023-->
  <header>
    <div class="jumbotron">
      <h1 class="display-4">Welcome to <%= title %> page</h1>
      </div>
  </header>
    <p><h3> Hello my name is <b>Marcus Charles</b></h3></p>

    <p>I am 24 and have previously graduated from Durham and Senneca College as 3D Game Artist.<br>
    My skills include 3D Modelling, Texturing, 3D Scultping, 3D Animation and Asset Integration into Game Engines</p>

    <p>I am knowledgable in the programs Blender, Maya, Substance Painter, Substance Designer, ZBrush, Unreal Engine <br>
    Unity, Photoshop and Krita</p>
    <p>The coding languages I am versed in are C#, JavaScript, Java, HTML and CSS</p>
    <p>I am currently a student at Centennial College to build up technical abilities to compliment my artist skills<br>
    and have taken to learning Houdini, which is an extremely useful and necessary program to know for technical artists</p>
  <img src="/img/marcus-charles_image.jpg" height="400" alt="An image of myself">
  <a href="/pdf/Marcus_Resume_2023.pdf"><img src="/img/marcus-charles_pdf.png" height="300"></a>
  </main>
    
    <!--bottom nav-->
    
   
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   