<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<main class="container">
  <!--index.ejs,Marcus Charles,301015342, October 5,2023-->
  <div class="jumbotron">
    <header>
      <div class="jumbotron">
        <h1 class="display-4">Welcome to <%= title %> page</h1>
        </div>
    </header>
    <p> <h3>Hello and welcome to my page</h3></p>
    <p>I am currently a student at Centennial College enrolled in the Game Programming course.<br>
    My primary objective is to gain programming skills at Centennial to compliment art skills I have obtained<br>
    through my attendance to other institutions as a 3D artist at post graduate schools such as Senneca<br>
    and Durham College. Upon completeion of the course I hope to have the skills needed to become a technical artist.</p>
    </main>
    <!--bottom nav-->
   
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   