<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

<main class="container">
  <!--services.ejs,Marcus Charles,301015342, October 5,2023-->
<header>
  <div class="jumbotron">
    <h1 class="display-4">Welcome to <%= title %> page</h1>
    </div>
</header>
    <h3>
    <b>Programs</b>
    <ul>
      <li>Blender</li>
      <li>Maya</li>
      <li>Substance Painter</li>
      <li>Substance Designer</li>
      <li>ZBrush</li>
      <li>Unreal Engine 4/5</li>
      <li>Unity</li>
      <li>Photoshop</li>
      <li>Krita</li>
    </ul>
    <b>Known Programming Languages</b>
    <ul>
      <li>C#</li>
      <li>Java</li>
      <li>JavaScript</li>
      <li>HTML</li>
      <li>CSS</li>
    </ul>
    <h3>
      <p>I am currently learning Houdini, which is an extremely useful and necessary program to know for Technical Artists</p>
    </h3>
    </main>
  </h3>
    <!--bottom nav-->
   
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   